@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1.5rem;
    font-family: "Inconsolata", serif;
    text-align: center;
    color: #e6edf3;
    background-color: #010409;
}

nav {
    margin: 0 auto 1rem;
    border: 1px solid #6e7681;
    border-radius: 1.5rem;
    overflow: hidden;
    /* overflow is a better option than setting border-radius in h1 and li */
    max-width: 580px;
    font-size: 1.6rem;
    line-height: 4rem;
}

h1 {
    padding: 1rem;
    font-family: "Open Sans", serif;
    color: #e6edf3;
    background: #161b22;
}

ul {
    list-style-type: none;
    background: #0d1117;
}

li {
    border-top: 1px solid #6e7681;

}

li a {
    display: block;
}

li a,
li a:visited {
    color: #79c0ff;
    text-decoration: none;
}

li a:hover,
li a:focus {
    color: #1db954;
    background: hsla(141, 73%, 42%, 0.2);
    cursor: pointer;
}

p {
    padding: 0.5rem;
    font-weight: 300;
}

a,
a:visited {
    color: #79c0ff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: hsl(141, 73%, 42%);
    text-decoration: underline;
    cursor: pointer;
}